<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Hydra</title>

    <link rel="stylesheet" href="assets/css/vars.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/mi-icons.css">
  </head>
  <body>
    <div id="home">
      <nav>
        <header>
        </header>
        <ul>
          <li>
            <button type="button" id="button-clipboard" class="nav-button" v-on:click="displayed = 'home'">
              <i class="mi-home"></i>
            </button>
            <button type="button" id="button-clipboard" class="nav-button" v-on:click="displayed = 'create'; activateDisplayWithDelay()">
              <i class="mi-plus"></i>
            </button>
          </li>
        </ul>
        <footer>
        </footer>
      </nav>

      <main>
        <div class="popup-container" v-if="showPopup">
          <div class="overlay" v-on:click="showPopup = false; selectedModel = null; exporter.db = ''"></div>
          <div class="popup">
            <button class="close-button" v-on:click="showPopup = false; selectedModel = null">
              <i class="mi-close"></i>
            </button>
            <div v-if="selectedModel != null">
              <h2>{{ models[selectedModel].name }}</h2>
              <button class="btn" v-on:click="exporter.show = !exporter.show">Export</button>
              <div class="export-form m-b-20 m-t-20" v-bind:class="{'opened': exporter.show}">
                <div>
                  <input type="file" v-model="exporter.folder" webkitdirectory directory>
                  <p>{{ exporter.folder }}</p>
                </div>
                <div class="db-choice">
                  <div v-for="i in Object.keys(available)">
                    <input type="radio" name="dbName" v-bind:id="i" v-bind:value="i" v-model="exporter.db">
                    <label v-bind:for="i" v-on:click="getAvailableApi(i)">{{ i }}</label>
                  </div>
                </div>
                <div v-if="exporter.db != ''" class="flex">
                  <button v-on:click="exportDb(available[exporter.db])" v-if="isExportable()">Export {{ exporter.db }} DB</button>
                  <h2><span v-if="isExportable()">Or e</span><span v-else>E</span>xport an API:</h2>
                </div>
                <div class="db-choice" v-if="exporter.db != ''">
                  <div v-for="i in Object.keys(exporter.availableApi)">
                    <input type="radio" name="apiName" v-bind:id="i" v-bind:value="i" v-model="exporter.api">
                    <label v-bind:for="i">{{ i }}</label>
                  </div>
                </div>
                <div class="api-options" v-if="exporter.api != ''">
                  
                </div>
                <div v-if="exporter.api != ''" class="flex">
                  <button v-on:click="exportDb(exporter.availableApi[exporter.api])">Export {{ exporter.db }} - {{ exporter.api }} API</button>
                </div>
              </div>
              <button class="btn remove" v-on:click="deleteModel(selectedModel)">Remove Model</button>
            </div>
          </div>
        </div>
        <div class="home" v-if="displayed == 'home'">
          <div class="add-model" v-on:click="newModel">
            <h2>Create a new model</h2>
            <div><i class="mi-plus"></i></div>
          </div>
          <div v-for="item,index in models">
            <button class="menu" v-on:click="selectedModel = index; showPopup = true"><p>...</p></button>
            <h2>{{ item.name }}</h2>
            <p>{{ item.tables.length }} tables; {{ item.connexions.length }} relations;</p>
            <button class="load" v-on:click="loadModel(index)"><i class="mi-eye"></i></button>
          </div>
        </div>
        <div class="create" v-if="displayed == 'create'">
          <div class="form">
            <input type="text" placeholder="Database Name" v-model="model.name">
            <div class="flex">
              <button v-on:click="addTable"><i class="mi-plus"></i>Table</button>
              <button v-on:click="addConnexion"><i class="mi-plus"></i>Relation</button>
            </div>
            <hr>
            <div v-if="selectedTable != null">
              <input type="text" placeholder="Table Name" v-model="model.tables[selectedTable].name">
              <button class="m-b-20" v-on:click="addLine"><i class="mi-plus"></i> Add Line</button>
              <div v-for="line, i in model.tables[selectedTable].properties" class="lines">
                <div class="content">
                  <input type="text" placeholder="Line Name" v-model="line.name">
                  <button v-on:click="showLine(i)"><i class="mi-pen"></i></button>
                </div>
                <div class="line-update" v-bind:class="{'expanded': lineShown == i}">
                  <select v-model="line.type">
                    <option value="Int">Integer</option>
                    <option value="Float">Float</option>
                    <option value="String">String</option>
                    <option value="Array">Array</option>
                    <option value="Boolean">Boolean</option>
                    <option value="Date">Date</option>
                  </select>

                  <p>Unique:</p>
                  <select v-model="line.unique">
                    <option value="false">False</option>
                    <option value="true">True</option>
                  </select>

                  <p>Required:</p>
                  <select v-model="line.required">
                    <option value="true">True</option>
                    <option value="false">False</option>
                  </select>

                  <input v-if="line.type == 'String'" type="text" placeholder="Size" v-model="line.size">

                  <input type="text" placeholder="Default Value" v-model="line.default">

                  <button class="remove" v-on:click="removeLine(i)">Remove Line</button>
                </div>
              </div>
              <button class="remove m-t-20" v-on:click="removeTable(selectedTable)">Remove Table</button>
            </div>
            <div v-if="selectedConnexion != null" class="form-connexion">
              <input type="text" placeholder="Relation Name" v-model="model.connexions[selectedConnexion].name">
              <div class="flex">
                <p>From:</p>
                <select v-model="model.connexions[selectedConnexion].from" v-on:change="activateDisplayWithDelay">
                  <option v-for="item in model.tables" v-bind:value="item.id">{{ item.name }}</option>
                </select>
              </div>
              <div class="flex">
                <p>To:</p>
                <select v-model="model.connexions[selectedConnexion].to"  v-on:change="activateDisplayWithDelay">
                  <option v-for="item in model.tables" v-bind:value="item.id">{{ item.name }}</option>
                </select>
              </div>

              <div class="flex m-t-20">
                <p>Type:</p>
                <select v-model="model.connexions[selectedConnexion].type">
                  <option value="">-</option>
                  <option value="1:1">One to One</option>
                  <option value="1:N">One to Many</option>
                  <option value="N:1">Many to One</option>
                  <option value="N:N">Many to Many</option>
                </select>
              </div>

              <button class="m-b-20 m-t-20" v-on:click="addProperty"><i class="mi-plus"></i> Add Property</button>
              <div v-for="line, i in model.connexions[selectedConnexion].properties" class="lines">
                <div class="content">
                  <input type="text" placeholder="Property Name" v-model="line.name">
                  <button class="remove" v-on:click="removeProperty(i)"><i class="mi-close"></i></button>
                </div>
              </div>
              <button class="remove m-t-20" v-on:click="removeConnexion(selectedConnexion)">Remove Relation</button>
            </div>
            <button v-on:click="saveModel" class="m-t-50">Save Model</button>
          </div>
          <div class="database" v-on:mousemove="moveItem" v-on:mouseup="stopMovingItem">
            <div class="db-container" v-bind:style="{transform: scaleContainer(), top: containerPos.y + 'px', left: containerPos.x + 'px'}" v-on:mousedown="startMovingContainer($event)">
              <svg>
                <path v-for="item,i in model.connexions" v-if="isComplete(i)" v-bind:d="getPos(i)" v-on:click="selectedConnexion = i; selectedTable = null;">
              </svg>
              <div class="connection-item" v-for="item,i in model.connexions" v-if="isComplete(i) && (item.name != '' || item.type != '')" v-on:click="selectedConnexion = i; selectedTable = null;" v-bind:style="{top: getMidPos(i, 'y') + 'px', left: getMidPos(i, 'x') + 'px'}" v-bind:ref="'conn' + i">{{ item.name }} <span v-if="item.type != ''">({{ item.type }})</span></div>
              <div v-for="item, index in model.tables" class="db-item" v-on:mousedown="startMovingItem($event, index)" v-on:mouseup="stopMovingItem" v-bind:style="{ top: item.posY + 'px', left: item.posX + 'px'}" v-bind:ref="item.id">
                <button v-on:click="selectedTable = index; selectedConnexion = null;"><i class="mi-pen"></i></button>
                <h3>{{ item.name }}</h3>
                <div v-for="line in item.properties" class="lines">{{ line.name }} (<span v-bind:class="line.type.toLowerCase()">{{ line.type }}</span><span v-if="line.size != ''"> - {{ line.size }}</span>)</div>
              </div>
            </div>
            <div class="zoom">
              <button v-on:click="changeScale('+')"><p>+</p></button>
              <button v-on:click="changeScale('-')"><p>-</p></button>
            </div>
          </div>
        </div>
      </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
      require('./renderer.js');
    </script>
  </body>
</html>