html {
  height: 100%;
}  
body {
	background-color: var(--color-bg);
	color: var(--text);
	font-family: sans-serif;
	margin: 0;
	height: 100%;
}
::placeholder {
  color: #AAA;
  opacity: 1;
}
body > div {
	display: flex;
}

nav {
	width: 70px;
  	overflow-x: hidden;
  	overflow-y: auto;
  	background-color: var(--color-bg-dark);
  	padding: 10px;
  	box-shadow: 0 0 10px 2px var(--color-shadow);
  	text-align: center;
}
nav img {
	width: 50px;
}
nav ul {
	list-style: none;
	padding: 0;
}
nav li {
	margin-bottom: 10px;
}
nav button {
	position: relative;
	color: var(--color-bg);
	font-size: 8px;
	border: none;
	background-color: transparent;
	height: 20px;
	height: 50px;
	width: 50px;
	background-color: var(--text);
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	margin-bottom: 10px;
}
nav button i.mi-home {
	top: 14px;
	left: 16px;
}
nav button i.mi-plus {
	top: 18px;
	left: 14px;
	font-size: 11px;
}

main {
  flex: 1;
  position: relative;
  overflow: hidden;
  height: 100vh;
  overflow: scroll;
  box-sizing: border-box;
}
.home {
	padding: 30px;
}

/* Home */
.home {
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
}
.home > div {
	width: 250px;
	background-color: var(--color-bg-dark);
	border: 2px solid var(--color-shadow);
	border-radius: 5px;
	margin: 0 20px 20px 0;
	text-align: center;
	position: relative;
	padding: 10px;
}
.home > div h2 {
	font-size: 20px;
}
.home .add-model {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home .add-model div {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: var(--color-shadow);
	font-size: 10px;
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
}
.home .add-model div i {
	top: 19px;
}
.home > div:not(.add-model) button.load {
	width: 60px;
    font-size: 7px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 38px;
    min-height: initial;
}
.home > div:not(.add-model) button.load i {
	transform: translate3d(-2px, 1px, 0);
}
.home > div:not(.add-model) button.menu {
	position: absolute;
	font-size: 4px;
	height: 20px;
	width: 20px;
	padding: 0;
	min-height: initial;
	top: 5px;
	right: 5px;
	border-radius: 50%;
	background-color: #FFF;
	color: #000;
}
.home > div:not(.add-model) button.menu p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    margin-top: -9px;
}

/* Form */
input[type="text"], button, select {
	width: 100%;
	background-color: var(--color-bg-dark);
	border: 0;
	border-radius: 5px;
	padding: 15px 20px;
	min-height: 46px;
	box-sizing: border-box;
	color: #FFF;
	font-size: 16px;
	outline: none;
	margin-bottom: 10px;
}
select {
	height: 46px;
}
button {
	background-color: var(--color-validate);
	color: #FFF;
	cursor: pointer;
	position: relative;
}
button.remove {
	background-color: var(--color-error);
}
.flex {
	display: flex;
}

/* Models */
.create {
	display: flex;
	height: 100%;
}
.create .form {
	flex: 1;
	box-shadow: 2px 0 10px 0 #2e3b48;
	z-index: 1;
	height: 100vh;
	overflow: scroll;
	box-sizing: border-box;
	padding: 30px;
}
.create .database {
	flex: 3;
	background-color: var(--color-bg-dark);
	position: relative;
	overflow: hidden;
}
.create .database svg {
	position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.create .database svg path {
	stroke: #FFF;
	fill: none;
	stroke-width: 3px;
	cursor: pointer;
}
.create .database .db-container {
	height: 2000px;
	width: 2000px;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: none;
}
.create .database .db-container:active {
	box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.3);
}
.create .database .zoom {
	bottom: 20px;
	right: 20px;
	position: absolute;
	height: 60px;
	display: flex;
	flex-direction: column;
}
.create .database .zoom button {
	height: 30px;
	width: 30px;
	background-color: #ecf0f1;
	color: #34495e;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	min-height: initial;
	border: 1px solid;
	font-weight: bold;
}
.create .database .zoom button:active {
	background-color: #bdc3c7;
}
.create .database .zoom button:first-child {
	border-radius: 5px 5px 0 0;
}
.create .database .zoom button:last-child {
	border-radius: 0 0 5px 5px;
}
.create .database .zoom button p {
	padding: 0;
	margin: 0;
}
.create button i {
	font-size: 8px;
    transform: translate3d(-30px, 4px, 0);
}
.create hr {
	border-width: 0 0 1px;
	border-color: var(--color-bg-dark);
}
.create .lines .content {
	display: flex;
	align-items: center;
	position: relative;
}
.create .lines .content button {
	width: 50px;
    margin-left: 10px;
    position: relative;
    height: 48px;
}
.create .lines .content button i.mi-pen {
	top: 14px;
    right: 21px;
    transform: rotate(30deg);
    font-size: 7px;
}
.create .lines .content button i.mi-close {
	transform: rotate(45deg);
    left: 17px;
    top: 20px;
}
.create .lines .line-update {
	height: 0;
	overflow: hidden;
}
.create .lines .line-update.expanded {
	height: initial;
    padding: 20px 10px 10px;
    background: #1d2c3b;
    border-radius: 5px;
    margin-bottom: 10px;
}
.form-connexion .flex p {
	width: 100px;
}
.create .form-connexion .lines .content button {
	width: 35px;
}
.create .form-connexion .lines .content button i.mi-close {
	font-size: 5px;
	left: 13px;
}

/* Database Schema */
.db-item {
	position: absolute;
	background-color: var(--color-bg);
	border-radius: 5px;
	padding: 10px;
	width: 250px;
	box-shadow: 0 0 10px 2px var(--color-border);
	cursor: move;
	user-select: none;
	box-sizing: border-box;
}
.db-item h3 {
	text-align: center;
	margin: 5px;
}
.db-item button {
	all: initial;
	color: #FFF;
	position: absolute;
	cursor: pointer;
	width: 30px;
	height: 30px;
	top: 10px;
	right: 10px;
}
.db-item button i {
	top: 5px;
    left: 5px;
    font-size: 6px;
    transform: rotate(30deg);
}
.db-item .int {
	color: #27ae60;
}
.db-item .float {
	color: #16a085;
}
.db-item .string {
	color: #f39c12;
}
.db-item .array {
	color: #9b59b6;
}
.db-item .boolean {
	color: #ecf0f1;
}
.db-item .date {
	color: #c0392b;
}

/* Connections */
.connection-item {
	position: absolute;
	background-color: #c38523;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 10px;
    box-shadow: 0 0 10px 2px var(--color-border);
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

/*
* Popup
*/
.popup-container {
	z-index: 9999;
}
.popup-container, .popup-container .overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.popup-container .overlay {
	background-color: rgba(0, 0, 0, 0.3);
}
.popup-container .popup {
	box-shadow: 0 1px 5px 0 var(--color-shadow);
	z-index: 1;
	background-color: var(--color-bg);
	border: 2px solid var(--color-bg-dark);
	border-radius: 10px;
	width: 70%;
	min-height: 300px;
	padding: 20px 50px;
	position: relative;
	max-height: 80vh;
	overflow: scroll;
}
.popup h2 {
	font-size: 30px;
	text-align: center;
}
.popup .close-button {
	background-color: transparent;
	padding: 0;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	min-height: initial;
	border: none;
	position: absolute;
	right: 30px;
	top: 20px;
	color: #FFF;
	font-size: 7px;
	cursor: pointer;
}
.popup .btn {
	max-width: 300px;
	display: block;
	margin: auto;
}
.popup .export-form {
	background: #1d2c3b;
	transition-duration: 0.2s;
	height: 0px;
	opacity: 0;
	border-radius: 5px;
	overflow: hidden;
	padding: 10px;
}
.export-form button {
	width: auto;
}
.popup .export-form.opened {
	height: 300px;
	opacity: 1;
}
.export-form input[type="file"] {
	margin: 10px auto;
	display: block;
}
.export-form h2 {
	font-size: 20px;
}
.export-form .flex {
	justify-content: center;
    border-top: 1px solid #BBB;
    padding: 10px;
    width: 80%;
    margin: auto;
}

.db-choice {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
}
.db-choice input[type="radio"] {
	display: none;
}
.db-choice label {
	color: #FFF;
	border: 2px solid;
	padding: 5px 10px;
	border-radius: 2px;
	margin-right: 20px;
	cursor: pointer;
}
.db-choice input[type="radio"]:checked ~ label {
	color: #1d2c3b;
	background: #FFF;
	border-color: #FFF;
}